body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

h1 {
    font-size: 38px;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 35px;
}

.darshan-box {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin: auto;
    background: #222;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #aaa;
    font-size: 20px;
}

.camera-section {
    margin-top: 35px;
}

video {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    background: black;
    margin-top: 15px;
}

button {
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.message {
    margin-top: 15px;
    color: #ccc;
}